@import "tailwindcss";
@import "react-quill-new/dist/quill.snow.css";


@theme {
  --font-sans: "DM Sans", "Noto Serif Bengali", ui-sans-serif, system-ui, sans-serif;
  --font-display: "DM Sans", sans-serif;
}

@layer utilities {
  .publish-editor .ql-container {
    height: 350px;
    font-family: inherit;
    font-size: 1.125rem;
  }
  .publish-editor .ql-toolbar.ql-snow {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #f3f4f6 !important;
    background: #f9fafb;
    padding: 1rem !important;
  }
  .publish-editor .ql-container.ql-snow {
    border: none !important;
  }
  .publish-editor .ql-editor {
     padding: 1.5rem !important;
  }
  .publish-editor .ql-picker-options {
    z-index: 100 !important;
    border-radius: 4px !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #f3f4f6 !important;
  }
  .publish-editor .ql-tooltip {
    z-index: 100 !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #f3f4f6 !important;
    border-radius: 4px !important;
  }
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply text-black bg-white;
  }
}

.breaking-news-glow {
  text-shadow: 0 0 8px rgba(255, 0, 0, 0.2);
}
